@charset "UTF-8";

{   padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

    outline-style: double;
    outline-width: 20px;
    outline-color: #cf1717;
    
    border-color: #cf1717;
    border-width: 10px;
    border-style: solid;
}

/* existe um jeito de simplificar essas configurações */

{
    padding: 10px 10px 10px 10px;
    padding: 10px;
    /* 
    o padding pode ser configurado desses dois jeitos, caso as medidas sejam iguais 
    */

    margin: 10px 10px 10px 10px;
    outline: 20px double  #cf1717;
    border: 10px solid #cf1717;
}