@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header{
    min-height: 96px;
    background-color: #949494;
    width: 100vw;
}
header h1{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
#burguer{
    background-color: #D3D3D3;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
#burguer:hover{
    color: #ffffff;
    background-color: #000000;
}
nav{
    display: none;
}
a{
    text-align: center;
    border: 1px solid #000000;
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #585858;
    padding: 10px;
}
a:hover{
    background-color: #5858586d ;
}
html{
    background-color: #D3D3D3;
    overflow-x: hidden;
}
main{
    width: 80vw;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
}
p{
    padding: 10px 0;
    text-indent: 20px;
    text-align: justify;
}

/* 

o overflow x hidden esconde a barra de rolagem
o curso tem varias opções a escolha

*/
